<% layout('/layouts/boilerplate.ejs') -%>

<body>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem;">
            <img src="<%= hotel_data.image %>" class="card-img-top" alt="image_not_found">
            <div class="card-body">
                <p class="card-text"><%= hotel_data.description %></p>
                <h2>₹<%= hotel_data.price %></h2>
                <h4 class="text-muted">Location: <%= hotel_data.location %>, <%= hotel_data.country %></h4>
                
                <div class="d-flex justify-content-around mt-4">
                    <a href="/index/<%= hotel_data._id %>/edit" class="btn btn-primary edit-btn row-2">Edit</a>
                    <form method="POST" action="/index/<%= hotel_data._id %>?_method=DELETE">
                        <button type="submit" class="btn btn-dark">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
